.event-data {
  padding: 50px 150px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.ant-picker-calendar-header {
  margin-right: 40px;
}

.calender-wrapper {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.calender-view {
  width: 50% !important;
  border: none !important;
}
.calender-view .dot {
  background-color: tomato;
  width: 7px;
  height: 7px;
  border-radius: 10px;
  margin-right: 3px;
  box-shadow: 0px 0px 2px 2px #f0f0f0;
}
.dot-green {
  background-color: teal;
}
.react-calendar__month-view__weekdays {
  list-style: none;
  text-decoration: none !important;
}

abbr[title] {
  text-decoration: none !important;
  color: var(--primary-color);
}
.react-calendar__tile--now {
  background: none !important;
}
