.body {
  width: 270px;
  height: 370px;
  background-color: #95d0f8;
  margin: 25px auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.event-image img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.event-details {
  display: flex;
  padding: 5px;
  flex: 1;
  flex-direction: column;
  text-align: center;
}

.event-details > h3 {
  margin-top: 10px;
  flex: 1;
  font-family: "Lato";
}

.event-type {
  font-weight: 500;
  font-size: 17px;
  color: green;
}

.show-duration {
  padding: 10px 5px;
}
