.body {
  width: 250px;
  height: 350px;
  /* border-radius: 10px; */
  background-color: #95d0f8;
  margin: 20px;
}
.event-image img {
  width: 100%;
  height: 45%;
}
.event-details {
  text-align: center;
}
